body{
background-color: aliceblue;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    height: 100px;
    background-color:rgb(135, 206, 250);
    align-items: center;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo{
    height: 50px;
    margin: auto;
    margin-right: 40px;
}

.menu{
    display: flex;
    position: fixed;
    z-index: 100;
    gap: 20px;
}

.menu input{
    border: 1px solid;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color: cornflowerblue; 
}

.icon{
  display: none;
  color: black;
  font-size: 20px;
}

#menuIcon {
    display: flex;
    flex-direction: row;   
}

.active{
    font-weight: bold;
    color: white;
}

main{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

footer{
    height: 100px;
    background-color:rgb(135, 206, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%; 
}

@media only screen and(max-width:767px) {
     body{
    padding: 10px;
    font-size: 14px;}

    .icon {
        display: block;
      }

    .menu {
        display: none;
      }
    
      .menu.show {
        display: flex;
      }
      
}

@media only screen and (min-width: 768px) {
    body{
    font-size: 16px;}
    
}

@media only screen and (min-width: 768px) and (max-width: 991px){
   
}

@media only screen and (min-width: 992px){
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
   
}

@media only screen and (min-width: 1200px){
    body{
    font-size: 18px;}
    
}