body{
background-color: aliceblue;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    height: 100px;
    background-color:rgb(135, 206, 250);
    display: flex;
    align-items: center;
    justify-content:center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 0 20px;
}

.logo{
    height: 50px;
    position: absolute;
    left: 20px;
}

.menu{
    display: flex;
    align-items: center;
}

#menuIcon{
display: flex;
gap: 20px;
margin: 0 auto;
}

#menuIcon input[type="button"]{
    border: 1px solid;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color: cornflowerblue; 
}


.icon{
  display: none;
  color: black;
  font-size: 20px;
}



.active{
    font-weight: bold;
    color: white;
}

main{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

footer{
    height: 100px;
    background-color:rgb(135, 206, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%; 
}

@media only screen and(max-width:768px) {
     body{
    padding: 10px;
    font-size: 14px;}

    .icon {
        display: block;
        margin-right: 20px;
      }
      
      .logo {
        margin-left: 20px;
        margin-right: 0;
      }

      #menuIcon{
        display: none;

      }

      #menuIcon.open{
        display: flex;
      }

      #menuIcon input[type="button"] {
        display: block;
        width: 100%;
        margin: 10px 0;
      }
}