header{
    height: 100px;
    background-color:rgb(135, 206, 250);
    align-items: center;
}

.menu{
    border: 2px;
    display: flex;
    margin: 10px;
    align-items: center;
}


footer{
    height: 100px;
    background-color:rgb(135, 206, 250);
    text-align: center;
}