/* variables.css */
:root {
  --primary-color: #ffffff;
  --body-color: aliceblue;
  --text-color:  black;
  --headerAndFooter-color:rgb(135, 206, 250);
  --main-color:white;
  --humburger-color:darkblue;
  --a-color:  #f0f0f0;
  --a-active: #cccccc;
  --btn-calculator: rgb(227, 244, 244);
  --icon-dark-mode:rgb(95, 133, 219);
}


body.dark-mode {
  --primary-color: #333;
  --body-color: rgb(81, 85, 133);
  --headerAndFooter-color:rgb(50, 64, 123);
  --text-color: #f8f8f8;
  --main-color:#242765;
  --humburger-color:white;
  --a-color:rgb(100, 121, 204);
   --a-active:rgb(70, 181, 209);
   --btn-calculator:rgb(155, 190, 200);
   --icon-dark-mode:rgb(165, 215, 232);
}



